//====================================================================================================
.footer {
	background: #777;
	// .footer__container
	&__container {
		padding-top: 51px;
		padding-bottom: 51px;
		display: flex;
		justify-content: space-between;
		gap: 20px;
		@media (max-width: 700px) {
			flex-direction: column;
		}
	}
	// .footer__copyblock
	&__copyblock {
		line-height: math.div(22, 14);
		letter-spacing: 0.025em;
		@media (max-width: 700px) {
			order: 3;
			display: flex;
			flex-wrap: wrap;
			gap: 15px;
		}
	}
	// .footer__copy
	&__copy {
	}
	// .footer__email
	&__email {
	}
	// .footer__list
	&__list {
		line-height: math.div(26, 14);
		text-decoration: underline;
		letter-spacing: 0.025em;
		@media (max-width: 700px) {
			order: 1;
		}
	}
	// .footer__item
	&__item {
	}
	// .footer__link
	&__link {
	}
	// .footer__cite
	&__cite {
		@media (max-width: 700px) {
			order: 2;
		}
		@media (min-width: 700px) {
			flex: 0 1 217px;
		}
		line-height: math.div(22, 14);
		letter-spacing: 0.025em;
		span {
			text-decoration: underline;
		}
	}
}

//====================================================================================================
